/*
* @Author: yousi2016
* @Date:   2018-01-10 10:58:36
* @Last Modified by:   yousi2016
* @Last Modified time: 2018-01-20 11:00:09
*/
html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color:green;
}